pandas
numpy
scikit-learn
lightgbm
xgboost
catboost
optuna
optuna-integration[mlflow]
mlflow
minio
boto3
psycopg2-binary
joblib
shap
evidently
matplotlib
seaborn
weasyprint
reportlab
pyarrow
html5lib
tabulate
